[Unit]
Description=Switchover Agent (SECONDARY)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/switchover-agent.sh secondary-switchover
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target

